@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background:
    radial-gradient(
      circle at top,
      rgba(139, 92, 246, 0.15),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(59, 130, 246, 0.1),
      transparent 30%
    ),
    #050505;

  color: var(--foreground);

  min-height: 100vh;
}

* {
  border-color: rgba(255,255,255,0.08);
}

html {
  scroll-behavior: smooth;
}